# Custom Superset Config:
# https://superset.apache.org/docs/installation/configuring-superset/
#
SECRET_KEY="YOUR_OWN_RANDOM_GENERATED_SECRET_KEY"
PREVENT_UNSAFE_DB_CONNECTIONS=False
MAPBOX_API_KEY="YOUR_OWN_MAPBOX_API_KEY"
